<div class="border rounded-lg p-4">
  <h4 class="text-md font-semibold text-gray-800 mb-2">
    Room {{ roomData.roomName }}
  </h4>
  <div class="space-y-2">
    <div>
      <p class="text-sm font-medium text-gray-700">Electricity usage:</p>
      <p class="text-sm text-gray-600">
        {{ (roomData.elecCurrent ?? 0) - (roomData.elecPast ?? 0) }} kWh
      </p>
      <!-- <p class="text-sm text-gray-600">Past: <b>{{ roomData.elecPast }}</b> kWh</p>
      <p class="text-sm text-gray-600">
        Current: <b>{{ roomData.elecCurrent }}</b> kWh
      </p> -->
    </div>
    <div>
      <p class="text-sm font-medium text-gray-700">Water usage:</p>
      <p class="text-sm text-gray-600">
        {{ (roomData.waterCurrent ?? 0) - (roomData.waterPast ?? 0) }} m³
      </p>
      <!-- <p class="text-sm text-gray-600">Past: <b>{{ roomData.waterPast }}</b> m³</p>
      <p class="text-sm text-gray-600">
        Current: <b>{{ roomData.waterCurrent }}</b> m³ -->
      <!-- </p> -->
    </div>
    <p class="text-sm text-red-500">Total Due: {{ roomData.totalDue }} VND</p>
    <div class="flex justify-between items-center">
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        (click)="toggleRoomDetails()"
      >
        Details
      </button>
      <a class="text-green-500 font-bold py-2 px-4" *ngIf="roomData.paymentStatus">Paid</a>
      <a class="text-red-500 font-bold py-2 px-4" *ngIf="!roomData.paymentStatus">Unpaid</a>
    </div>
    <app-room-details
      *ngIf="showRoomDetails"
      [chartLabels]="chartLabels"
      [roomData]="roomData"
      [elecUsageChartData]="elecFetchedUsage[index]"
      [waterUsageChartData]="waterFetchedUsage[index]"
      (close)="toggleRoomDetails()"
    ></app-room-details>
  </div>
</div>
