<div class="border rounded-lg p-4">
  <div class="flex items-center mb-2">
    <h4 class="text-md font-semibold text-gray-800">Room {{ roomData.roomName }}</h4>
    <div
      class="w-3 h-3 rounded-full ml-2"
      [ngClass]="{
        'bg-green-500': roomData.status === true,
        'bg-red-500': roomData.status === false
      }"
    ></div>
    <!-- <div class="flex items-center rounded-lg bg-gray-200 ml-2 px-2"> -->
    <!-- </div> -->
      <!-- <span class="text-sm text-gray-900 ml-2">{{ roomData.status ? 'active' : 'inactive' }}</span> -->
  </div>
  <div class="space-y-2">
    <div>
      <p class="text-sm font-medium text-gray-700">Electricity</p>
      <p class="text-sm text-gray-600">Past: <b>{{ roomData.elecPast }}</b> kWh</p>
      <p class="text-sm text-gray-600">
        Current: <b>{{ roomData.elecCurrent }}</b> kWh
      </p>
    </div>
    <div>
      <p class="text-sm font-medium text-gray-700">Water</p>
      <p class="text-sm text-gray-600">Past: <b>{{ roomData.waterPast }}</b> m³</p>
      <p class="text-sm text-gray-600">
        Current: <b>{{ roomData.waterCurrent }}</b> m³
      </p>
    </div>
    <p class="text-sm text-red-500">
      Total Due: {{ roomData.totalDue }} VND
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="toggleRoomDetails()"
    >
      Details
    </button>
    <app-room-details
      *ngIf="showRoomDetails"
      [chartLabels]="chartLabels"
      [roomData]="roomData"
      [elecUsageChartData]="elecFetchedUsage[index]"
      [waterUsageChartData]="waterFetchedUsage[index]"
      (close)="toggleRoomDetails()"
    ></app-room-details>
  </div>
</div>
