<div class="border rounded-lg p-4">
  <h4 class="text-md font-semibold text-gray-800 mb-2">Room A101</h4>
  <div class="space-y-2">
    <div>
      <p class="text-sm font-medium text-gray-700">Electricity</p>
      <p class="text-sm text-gray-600">Past: {{ roomData.elecPast }} kWh</p>
      <p class="text-sm text-gray-600">
        Current: {{ roomData.elecCurrent }} kWh
      </p>
    </div>
    <div>
      <p class="text-sm font-medium text-gray-700">Water</p>
      <p class="text-sm text-gray-600">Past: {{ roomData.waterPast }} m³</p>
      <p class="text-sm text-gray-600">
        Current: {{ roomData.waterCurrent }} m³
      </p>
    </div>
    <p class="text-sm text-red-500">
      Unpaid Payment: ${{ roomData.unpaidAmount }}
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="toggleRoomDetails()"
    >
      Details
    </button>
    <app-room-details
      *ngIf="showRoomDetails"
      [chartLabels]="chartLabels"
      [roomData]="roomData"
      [elecUsageChartData]="elecFetchedUsage[index]"
      [waterUsageChartData]="waterFetchedUsage[index]"
      (close)="toggleRoomDetails()"
    ></app-room-details>
  </div>
</div>
