<div class="p-6">
  <!-- Stats Cards -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">
        Total Electricity Used:
      </h3>
      <p class="text-3xl font-bold text-blue-600">
        {{ totalElecUsageLast30Days }} kWh
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">Total Water Used:</h3>
      <p class="text-3xl font-bold text-green-600">
        {{ totalWaterUsageLast30Days }} m³
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">Total Due:</h3>
      <p class="text-3xl font-bold text-purple-600">
        {{
          totalElecUsageLast30Days * 3500 + totalWaterUsageLast30Days * 15000
        }}
        VND
      </p>
    </div>
  </div>

  <div class="flex items-center p-6 bg-white rounded-lg shadow mb-6">
    <h1 class="text-lg font-semibold mr-4">Sensors Status:</h1>
    <div class="flex items-center space-x-6">
      <div class="flex items-center">
        <p class="text-lg font-semibold mr-2">Electricity:</p>
        <div class="flex items-center bg-gray-200 rounded-lg p-1">
          <span
            class="w-3 h-3 rounded-full m-1"
            [ngClass]="{
              'bg-green-500': elecRssi >= -100,
              'bg-red-500': elecRssi < -100
            }"
          ></span>
          <p
            class="text-lg"
            [ngClass]="{
              'text-green-500': elecRssi >= -100,
              'text-red-500': elecRssi < -100
            }"
          >
            {{ elecRssi }}
          </p>
        </div>
      </div>
      <div class="flex items-center">
        <p class="text-lg font-semibold mr-2">Water:</p>
        <div class="flex items-center bg-gray-200 rounded-lg p-1">
          <span
            class="w-3 h-3 rounded-full m-1"
            [ngClass]="{
              'bg-green-500': waterRssi >= -100,
              'bg-red-500': waterRssi < -100
            }"
          ></span>
          <p
            class="text-lg"
            [ngClass]="{
              'text-green-500': waterRssi >= -100,
              'text-red-500': waterRssi < -100
            }"
          >
            {{ waterRssi }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Room Blocks and Charts -->
  <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
    <!-- Room Blocks -->
    <div class="bg-white p-6 rounded-lg shadow">
      <div class="flex items-center mb-4 justify-between">
        <h3 class="text-lg font-semibold text-gray-700">Room Details</h3>
        <div>
          <input
            #filter
            type="text"
            placeholder="Search rooms..."
            class="w-64 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700 ml-2"
            (input)="filterRooms(filter.value)"
          />
          <button
            class="w-20 py-2 border border-gray-300 rounded-lg ml-2 text-white bg-blue-500 hover:bg-blue-700 hover:cursor-pointer"
            type="button"
            (click)="filterRooms(filter.value)"
          >
            Search
          </button>
        </div>
      </div>
      <div class="inline-grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4 w-full">
        <!-- Room 1 -->
        <app-room-brief
          *ngFor="let roomBriefData of filteredRoomsBriefData; let i = index"
          [index]="i"
          [roomData]="roomBriefData"
          [chartLabels]="chartLabels"
          [elecFetchedUsage]="elecFetchedUsage"
          [waterFetchedUsage]="waterFetchedUsage"
        ></app-room-brief>
      </div>
    </div>

    <!-- Usage Charts -->
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700 mb-4">Usage Overview</h3>
      <div class="grid grid-cols-1 gap-6">
        <!-- Electricity Usage Chart -->
        <app-electricity-brief
          [chartLabels]="chartLabels"
          [chartData]="elecChartData"
        ></app-electricity-brief>
        <!-- Water Usage Chart -->
        <app-water-brief
          [chartLabels]="chartLabels"
          [chartData]="waterChartData"
        >
        </app-water-brief>
      </div>
    </div>
  </div>
</div>
