<div class="p-6">
  <!-- Stats Cards -->
  <h1 class="gap-6 mb-6 ml-4 text-lg font-semibold">In the last 30 days:</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-6">
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">
        Total electricity used
      </h3>
      <p class="text-3xl font-bold text-blue-600">
        {{ totalElecUsageLast30Days }} kWh
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">Total water used</h3>
      <p class="text-3xl font-bold text-green-600">
        {{ totalWaterUsageLast30Days }} m³
      </p>
    </div>
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700">Total Payment</h3>
      <p class="text-3xl font-bold text-purple-600">${{ (789) }}</p>
    </div>
  </div>

  <!-- Room Blocks and Charts -->
  <div class="grid grid-cols-1 lg:grid-cols-1 gap-6">
    <!-- Room Blocks -->
    <div class="bg-white p-6 rounded-lg shadow">
      <div class="flex items-center mb-4">
        <h3 class="text-lg font-semibold text-gray-700">Room Details</h3>
        <input
          #filter
          type="text"
          placeholder="Search rooms..."
          class="w-64 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700 ml-2"
        />
        <button class="w-20 py-2 border border-gray-300 rounded-lg bg-blue-500 ml-2 text-white" type="button" (click)="filterRooms(filter.value)">Search</button>
      </div>
      <div class="inline-grid grid-cols-1 md:grid-cols-3 lg:grid-cols-6 gap-4">
        <!-- Room 1 -->
        <app-room-brief
          *ngFor="let roomBriefData of filteredRoomsBriefData; let i = index"
          [index]="i"
          [roomData]="roomBriefData"
          [chartLabels]="chartLabels"
          [elecFetchedUsage]="elecFetchedUsage"
          [waterFetchedUsage]="waterFetchedUsage"
        ></app-room-brief>
      </div>
    </div>

    <!-- Usage Charts -->
    <div class="bg-white p-6 rounded-lg shadow">
      <h3 class="text-lg font-semibold text-gray-700 mb-4">Usage Overview</h3>
      <div class="grid grid-cols-1 gap-6">
        <!-- Electricity Usage Chart -->
        <app-electricity-brief
          [chartLabels]="chartLabels"
          [chartData]="elecChartData"
        ></app-electricity-brief>
        <!-- Water Usage Chart -->
        <app-water-brief
          [chartLabels]="chartLabels"
          [chartData]="waterChartData"
        >
        </app-water-brief>
      </div>
    </div>
  </div>
</div>
